/* General Styles */

body{
  padding: 0px;
  background-image: url('../images/bg1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /*Background-size fix for IE8+ */
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
  src='../images/bg1.jpg', sizingMethod='scale');

  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
  src='../images/bg1.jpg', sizingMethod='scale')";
}

.title{
  background-color: orange;
  border-radius: 0px 2px 2px 0px;
  padding: 2px;
  color: white;
}

.row{
  /*border-bottom: 1px solid black;*/
  padding-bottom: 30px;
}

/* Specific Styles*/
.main{
  margin-top: 5%;
  border: 5px solid rgba(0,0,0,0.4);
  outline: 5px solid rgba(0,0,0,0.3);
  background-color: rgba(255, 255, 255, 0.9);
}

.login{
  background-color: lightsteelblue;
  border-radius: 2px 0px 0px 2px;
  padding:4%;
}

#login-form{
  padding-bottom: 2%;
}

#login-form label{
  width: 80px;
}

h3.listTitle{
  display: inline-block;
}
#taskList, #doneList, #archList{
  min-height: 100px;
  border: 1px solid lightblue;
  padding:0px;
}
#taskList li, #doneList li, #archList li{
  list-style-type: none;
  /* border: 1px solid grey; */
  border-radius: 5px;
  padding: 3%;
  background-image: linear-gradient(#f1f1f1, #97aec1);
  margin: 5px;
}

.resetpassword{
  margin:20px 0px;
}
.useInfo{
  border-top: 1px solid lightblue;
}
.useInfo p{
  padding: 3% 0 0;
  font-weight: bold;
  color:orange;
}
