<section class="col-md-6 col-md-offset-3 main">
  <div class="row">
    <header class="col-md-5 col-md-offset-4"> <h1> Your To Do List </h1> </header>
    <button class="btn btn-default pull-right" ng-click="task.logout()"> LogOut </button>

  </div>

  <div class="row">
    <div class="col-md-6">
          <h3 class="listTitle"> To Do | </h3>
          <a class="glyphicon glyphicon-refresh" ng-click="task.reset(task.taskList)">

          </a>
          <ul id="taskList">
            <li ng-repeat="item in task.taskList"  id="{{item.$id}}" todo-Drag>
              <!-- <input type="checkbox" ng-click="task.done(item)"> -->
              {{ item.$value }}
            </li>
          </ul>
    </div>

    <div class="col-md-6">
      <h3 class="listTitle"> Done | </h3>
      <a class="glyphicon glyphicon-refresh" alt="reset" ng-click="task.reset(task.doneList)"> </a>
      <ul id="doneList" todo-Drop drop="task.done(item)">
        <li ng-repeat="item in task.doneList">
          {{ item.$value }}
        </li>
      </ul>

      <!-- <button id="doneReset" ng-click="task.reset()" class="btn btn-primary"> reset </button> -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-7 col-md-offset-2">
      <form>
          <label for="task"> Add a new Task </label>
          <input type="text" name="task" ng-model="task.newTask" placeholder="Add a task">
          <button class="btn btn-primary" ng-click="task.addTask()"> Add </button>
      </form>
      <div ng-show="task.error"> {{ task.error }} </div>
    </div>
  </div>

  <div class="row useInfo">
    <div class="">
      <p class="text-center"> *Drag tasks and drop them into done box, when you have completed a task. </p>
    </div>
  </div>
</section>
